@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@* Reference https://htmx.org/reference/ *@
<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<!-- have a button POST a click via AJAX -->

<div class="text-center">
    <button hx-get="/Privacy" hx-swap="outerHTML">
        Click Me
    </button>
</div>

<div class="text-center">
    <form id='form' hx-encoding='multipart/form-data' hx-post='/upload'>
        <input type='file' name='file'>
        <button>
            Upload
        </button>
        <progress id='progress' value='0' max='100'></progress>
    </form>
    <script>
        htmx.on('#form', 'htmx:xhr:progress', function (evt) {
            htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
        });
    </script>
</div>

<div class="text-center">
    <div hx-target="this" hx-swap="outerHTML">
        <div><label>First Name</label>: Joe</div>
        <div><label>Last Name</label>: Blow</div>
        <div><label>Email</label>: joe@blow.com</div>
        <button hx-get="/contact/1/edit" class="btn btn-primary">
            Click To Edit
        </button>
    </div>
</div>


<div class="text-center">
    <script>
    <div id="tabs" hx-target="#tab-contents" role="tablist" _="on htmx:afterOnLoad">
        <button role="tab" aria-controls="tab-content" aria-selected="true" hx-get="/tab1" class="selected">Tab 1</button>
        <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/tab2">Tab 2</button>
        <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/tab3">Tab 3</button>
    </div>
                        < script >
    <div id="tab-contents" role="tabpanel" hx-get="/tab1" hx-trigger="load"></div>
</div>

<div class="text-center">
    <script>
        htmx.onLoad(function (content) {
            var sortables = content.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
                var sortable = sortables[i];
                new Sortable(sortable, {
                    animation: 150,
                    ghostClass: 'blue-background-class'
                });
            }
        })
    </script>

    <form class="sortable" hx-post="/items" hx-trigger="end">
        <div class="htmx-indicator">Updating...</div>
        <div><input type='hidden' name='item' value='1' />Item 1</div>
        <div><input type='hidden' name='item' value='2' />Item 2</div>
        <div><input type='hidden' name='item' value='3' />Item 3</div>
        <div><input type='hidden' name='item' value='4' />Item 4</div>
        <div><input type='hidden' name='item' value='5' />Item 5</div>
    </form>
</div>