@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Reference https://htmx.org/reference/ *@
<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<!-- have a button POST a click via AJAX -->
<button hx-get="/Privacy" hx-swap="outerHTML">
    Click Me
</button>